
{% extends "action_select.html" %}
{% block actionnav %}

<form action="{{ url_for('binDelete') }}" method="POST">
    <div class="form-row">
    
        <div class="form-group col-md-6">
            <label for="sku" >Bin ID</label>
            <input type="text" class="form-control" id="BinID" name = "BinID" placeholder="Enter bin id">
        </div>
        
    </div>
    
    <div class="form-row">
        <button type="submit" class="btn btn-primary">Delete Bin</button>
    </div>
</form>
{% endblock %} 