
{% extends "action_select.html" %}
{% block actionnav %}

<form action="{{ url_for('inventoryEdit') }}" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="InventoryID" >Inventory ID</label>
            <input type="text" class="form-control" id="InventoryID" name = "InventoryID" placeholder="Enter the inventory ID number">
        </div>
        <div class="form-group col-md-6">
            <label for="QTY" > Product quantity </label>
            <input type="text" class="form-control" id="QTY" name = "QTY" placeholder="Enter updated product quantity">
        </div>
        
    </div>
    <div class="form-row">
        <button type="submit" class="btn btn-primary">Update Inventory location</button>
    </div>
</form>
{% endblock %} 