
{% extends "action_select.html" %}
{% block actionnav %}

<form action="{{ url_for('orderLineEdit') }}" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="DateOrdered" >Order Line ID</label>
            <input  required type="text" class="form-control" id="OrderLineID" name = "OrderLineID" placeholder="Enter the Order Line ID">
        </div>
        <div class="form-group col-md-6">
            <label for="OrderNumber" >Order ID</label>
            <input  required type="text" class="form-control" id="OrderID" name = "OrderID" placeholder="Enter Order ID">
        </div>
        
        
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="DateOrdered" >Product ID</label>
            <input  required type="text" class="form-control" id="ProductID" name = "ProductID" placeholder="Enter the Product ID">
        </div>
        <div class="form-group col-md-6">
            <label for="QTY" >Product Quantity</label>
            <input  required type="text" class="form-control" id="QTY" name = "QTY" placeholder="Enter product order quantity">
        </div>
    </div>
    <div class="form-row">
        <button type="submit" class="btn btn-primary">Update Order Line</button>
    </div>
</form>
{% endblock %} 