
{% extends "action_select.html" %}
{% block actionnav %}

<form action="{{ url_for('orderLineCreate') }}" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="OrderID" class="col-sm-2 col-form-label">Order ID</label>
            <input type="text" class="form-control" id="OrderID" name = "OrderID" placeholder="Enter Order ID">
        </div>
        <div class="form-group col-md-6">
            <label for="ProductID" class="col-sm-2 col-form-label">Product ID</label>
            <input type="text" class="form-control" id="ProductID" name = "ProductID" placeholder="Enter Product ID">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="QTY" class="col-sm-2 col-form-label">Product order quantity</label>
            <input type="text" class="form-control" id="QTY" name = "QTY" placeholder="Enter purchase quantity">
        </div>
    </div>
    <div class="form-row">
        <button type="submit" class="btn btn-primary">Create order line</button>
    </div>
</form>
{% endblock %} 