
{% extends "action_select.html" %}
{% block actionnav %}

<form action="{{ url_for('productDelete') }}" method="POST">
    <div class="form-row">
    
        <div class="form-group col-md-6">
            <label for="sku" >Product SKU</label>
            <input  required type="text" class="form-control" id="sku" name = "sku" placeholder="Enter a SKU">
        </div>
        
    </div>
    
    <div class="form-row">
        <button type="submit" class="btn btn-primary">Delete product</button>
    </div>
</form>
{% endblock %} 