
{% extends "action_select.html" %}
{% block actionnav %}

<form action="{{ url_for('productCreate') }}" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="sku" class="col-sm-2 col-form-label">Product SKU</label>
            <input  required type="text" class="form-control" id="sku" name = "sku" placeholder="Enter a SKU">
        </div>
        <div class="form-group col-md-6">
            <label for="product_description" class="col-sm-2 col-form-label">Product description</label>
            <input  required type="text" class="form-control" id="product_description" name = "product_description" placeholder="Enter product description">
        </div>
    </div>
    <div class="form-row">
        <button type="submit" class="btn btn-primary">Create product</button>
    </div>
</form>
{% endblock %} 