
{% include "nav.html" %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>Welcome {{accountInfo.name}}</h1></div>
    	<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              
          <ul class="list-group">
            <li class="list-group-item text-muted">Profile</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> 2.13.2014</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>email</strong></span> {{accountInfo.email}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>name</strong></span> {{accountInfo.name}}</li>
            
          </ul> 
                       
          <ul class="list-group">
            <li class="list-group-item text-muted">Database at a glance<i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Number bins</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Number projucts</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Inventories</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Product Lines</strong></span> 78</li>
          </ul> 
               
          
          
        </div>
    	<div class="col-sm-9">
          
          <ul class="nav nav-tabs" id="myTab">
            <li><a href="#home" data-toggle="tab">Home</a></li>
            <li><a href="item_management/product" data-toggle="tab">Products</a></li>
            <li><a href="item_management/order" data-toggle="tab">Orders</a></li>
            <li><a href="item_management/bin" data-toggle="tab">Bins</a></li>
            <li><a href="item_management/order_line" data-toggle="tab">Order Lines</a></li>
            <li><a href="item_management/inventory" data-toggle="tab">Inventory</a></li>
          </ul>
              
          {% block content %}
          {% endblock %} 
        </div>
    </div>
                                                      

  