<!-- {% extends "nav.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.user.label }}<br>
            {{ form.user(size=32) }}<br>
            {% for error in form.user.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember() }} {{ form.remember.label }}</p>
        <p>{{ form.signin() }}</p>
    </form>
{% endblock %} -->


        <!-- <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required> -->
                    <!-- <p>
                <br>
                {{ form.password(size=32) }}
            </p>
                <label for="name" class="sr-only">{{ form.user.label }}</label>
                <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>{{ form.username(size=32) }}</input>
                <label for="email" class="sr-only">Email address</label>
                <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="password" class="sr-only">{{ form.password.label }}</label>
                <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required> 
            <button id="btn-post" class="btn btn-lg btn-primary btn-block" type="button">{{ form.signup() }}</button> -->




            !-- 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>Welcome {{accountInfo.name}}</h1></div>
    	<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3">
              
          <ul class="list-group">
            <li class="list-group-item text-muted">Profile</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> 2.13.2014</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>email</strong></span> {{accountInfo.email}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>name</strong></span> {{accountInfo.name}}</li>
            
          </ul> 
                       
          <ul class="list-group">
            <li class="list-group-item text-muted">Database at a glance<i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Number bins</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Number projucts</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Inventories</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Product Lines</strong></span> 78</li>
          </ul> 
               
          
          
        </div>
    	<div class="col-sm-9">
          
          <ul class="nav nav-pills">
            <li><a href="/item_management/product" data-toggle="tab">Products</a></li>
            <li><a href="/item_management/order" data-toggle="tab">Orders</a></li>
            <li><a href="/item_management/bin" data-toggle="tab">Bins</a></li>
            <li><a href="/item_management/order_line" data-toggle="tab">Order Lines</a></li>
            <li><a href="/item_management/inventory" data-toggle="tab">Inventory</a></li>
          </ul>
              
          {
        </div>